<app-change-password></app-change-password>

<!-- <app-new-course-form></app-new-course-form> -->

<!-- <signup-form></signup-form> -->

<!-- <app-course-form></app-course-form> -->

<!-- <app-contact-form></app-contact-form> -->

<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy> -->

<!-- <input type="text" appInputFormat [format]="'uppercase'"> -->

<!-- {{ task.assignee?.name }} -->

<!-- <button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',
        ...
    }"
>
Save
</button> -->

<!-- every time you click this button it relaods the entire object and DOM object tree -->
<!-- <button (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{ course.name }}
    </li>
</ul> -->